[Unit]
Description=Asus Touchpad to Numpad Handler
After=display-manager.service

[Service]
User=%i
Type=idle
ExecStart=/usr/bin/env python3 /usr/share/asus_touchpad_numpad-driver/asus_touchpad.py $LAYOUT $CONFIG_FILE_DIR
StandardInput=tty-force
StandardOutput=append:/var/log/asus_touchpad_numpad-driver/error.log
StandardError=append:/var/log/asus_touchpad_numpad-driver/error.log
TimeoutSec=5
Restart=on-failure
Environment="DISPLAY=$XDISPLAY"
Environment="XAUTHORITY=$XAUTHORITY"

[Install]
WantedBy=graphical.target