[Unit]
Description=Asus Touchpad to Numpad Handler
BindsTo=graphical.target

[Service]
Type=idle
ExecStart=/usr/bin/env python3 /usr/share/asus_touchpad_numpad-driver/asus_touchpad.py $LAYOUT $CONFIG_FILE_DIR
StandardInput=tty-force
StandardOutput=append:/var/log/asus_touchpad_numpad-driver/error.log
StandardError=append:/var/log/asus_touchpad_numpad-driver/error.log
TimeoutSec=5
Restart=on-failure
# For some operating systems with boot failure, adding this following property might resolve the issue  
#ExecStartPre=/bin/sleep 2
Environment="DISPLAY=:0"
Environment="XAUTHORITY=$XAUTHORITY"

[Install]
WantedBy=graphical.target