[Unit]
Description=Asus NumberPad Driver
PartOf=graphical-session.target
After=plasma-workspace.target
StartLimitBurst=20
StartLimitIntervalSec=300

[Service]
Type=simple
ExecStart=$INSTALL_DIR_PATH/.env/bin/python3 $INSTALL_DIR_PATH/numberpad.py $LAYOUT_NAME $CONFIG_FILE_DIR_PATH
TimeoutSec=5
Restart=on-failure
RestartSec=1
# The script logs to the journal directly
StandardOutput=null
StandardError=null
# Plasma imports the current display and session variables into the user manager.
Environment="PATH=/usr/sbin:/usr/bin:/bin"
$LOG_ENV_LINE

[Install]
WantedBy=graphical-session.target